<!DOCTYPE html>
<html>

<head>

    <title>Laptop Price Intelligence</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>Laptop Price Intelligence</h1>

<form action="/predict" method="POST">

<input
type="number"
name="ram"
placeholder="RAM (GB)"
required>

<input
type="number"
step="0.01"
name="weight"
placeholder="Weight (kg)"
required>

<input
type="number"
step="0.1"
name="inches"
placeholder="Screen Size (Inches)"
required>

<button type="submit">

Predict Price

</button>

</form>

{% if prediction_text %}

<div class="result">

{{ prediction_text }}

</div>

{% endif %}

</div>

</body>

</html>


